@charset 'UTF-8';

#canvas {
  border: 4px solid gray;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
body, h1 {
  padding: 0px 50px;
  max-width: 640px;
  margin: 1.4em auto;
  font: normal normal normal 1em/1.2em 'Bree Serif', 'Helvetica Neue', Arial, sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}
button {
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  display: block;
  float: left;
  cursor: pointer;
  opacity: 1;
  box-shadow: 1px 1px 3px;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
  opacity: 0.95;
  position: relative;
}
button.color:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
button.tool:hover {
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
input#image-to-upload {
  display: none;
}
button[value=purple] { background-color: palevioletred }
button[value=green] { background-color: olivedrab }
button[value=brown] { background-color: sienna }
button[value=yellow] { background-color: gold }
button[value=blue] { background-color: deepskyblue }
button[value=gray] { background-color: gray }
button[value=black] { background-color: black }
button[value=orange] { background-color: darkorange }
button.tool { background-color: #eee; }

ul {
  padding: 0;
  list-style: none;
  border: 3px solid gainsboro;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}
li {
  overflow: hidden;
}
.circle {
  background-color: black;
  border-radius: 50%;
}
.small {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 2px;
  height: 2px;
}
.normal{
  position: absolute;
  top: 12px;
  left: 12px;
  width: 4px;
  height: 4px;
}
.medium{
  position: absolute;
  top: 11px;
  left: 11px;
  width: 6px;
  height: 6px;
}
.large{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
}
.bar{
  display: block;
  float: left;
  height: 30px;
  width: 10px;
  background-color: gainsboro;
}