@charset 'UTF-8';
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

#canvas {
  border: 4px solid gray;
  @include border-radius(5px);
}
@media screen and (min-width:1025px) {
  body, h1 {
    padding: 0px 50px;
    max-width: 640px;
    margin: 1.4em auto;
    font: normal normal normal 1em/1.2em 'Bree Serif', 'Helvetica Neue', Arial, sans-serif;
  }
  h1 {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
  }
}
@media screen and (max-width:1024px){
  body {
    max-width: 640px;
    margin: 0 auto;
  }
  h1 {
    visibility: hidden;
  }
}
#palette{
  width: 640px;
}
button {
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  display: block;
  float: left;
  cursor: pointer;
  @include single-box-shadow(#222, 1px, 1px, 2px);
  @include opacity(0.95);
  position: relative;
  @include border-radius(1px);
}
button.color:active, button.color.press {
  @include opacity(0.8);
  border-color: #ccc;
  border-width: 2px 0px 0px 2px;
  @include single-box-shadow(none);
}
button.icon:active, button.icon.press {
  @include opacity(0.6);
  border-color: #ccc;
  border-width: 2px 0px 0px 2px;
  @include single-box-shadow(none);
}
button.important-icon:active {
  @include opacity(0.7);
  border-color: #ccc;
  border-width: 2px 0px 0px 2px;
  @include single-box-shadow(none);
}
input#image-to-upload {
  display: none;
}
button[value=purple] { background-color: palevioletred }
button[value=green] { background-color: olivedrab }
button[value=brown] { background-color: sienna }
button[value=yellow] { background-color: gold }
button[value=blue] { background-color: deepskyblue }
button[value=gray] { background-color: gray }
button[value=black] { background-color: black }
button[value=orange] { background-color: darkorange }
button.icon { background-color: #eee; }
button.important-icon { background-color: orange; }

ul {
  padding: 0;
  list-style: none;
  border: 3px solid #ccc;
  @include single-box-shadow(#aaa, 2px, 2px, 2px);
}
li {
  overflow: hidden;
  background: #ccc;
}
.circle {
  background-color: black;
  @include border-radius(50%);
}
.small {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 2px;
  height: 2px;
}
.normal{
  position: absolute;
  top: 12px;
  left: 12px;
  width: 4px;
  height: 4px;
}
.medium{
  position: absolute;
  top: 11px;
  left: 11px;
  width: 6px;
  height: 6px;
}
.large{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
}
.bar{
  display: block;
  float: left;
  height: 30px;
  width: 10px;
  background-color: #ccc;
}